/* generics */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

/* content */

.container{
    display: flex;
    flex-direction: column;
}

/* header */
.container-header{
    background-color: deepskyblue;
    flex-basis: 200px;
}

.menu{
    background-color: yellow;
    flex-direction: row;
}

/* main */

.container-main{
    background-color: white;
    flex-basis: 200px;
}

.flex-section-grey{
    background-color: lightgrey;
    height: 200px;
}

.flex-section-white{
    background-color: white;
    height: 200px;
}



/* footer */

.container-footer{
    display: flex;
    background-color: blue;
    flex-basis:200px;
    justify-content: space-around;
}

.flex-column{
    background-color: blue;
    height: 200px;
    margin: 50px;
}


/* utilies */ 